@model Department

@{
    ViewData["Title"] = Model.Name;
}

<div class="card border-success rounded-4 mt-5 overflow-hidden">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                <div>
                    <h1 class="text-success fw-bolder">@Model.Name</h1>
                    <div class="badge bg-info fs-5 mb-4">@Model.Manager?.Name</div>
                    <div class="badge bg-info fs-5 mb-4">@Model.Location</div>
                </div>
            </div>
            <a style="padding: 10px; text-align:center; background-color:black; color:white; border: 2px #eee solid; border-radius: 5px; cursor: pointer;"
               id="DeptId" onclick="GetEmployees(@Model.Id)">Employees</a>

            <a style="padding: 10px; text-align:center; background-color:cyan; color:white; border: 2px #eee solid; border-radius: 5px; cursor: pointer;"
               id="DeptId" onclick="GetProjects(@Model.Id)">Projects</a>
        </div>
    </div>
</div>


<table class="table table-broder table-hover" style="display:none;" id="Emps">
</table>

<table class="table table-broder table-hover" style="display:none;" id="Proj">
</table>

@section Scripts {

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/employees-per-department.js"></script>
    <script src="~/js/projects-per-department.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
}