@model EditEmployeeVM

@{
    ViewData["Title"] = "Edit Employee";
}

<h5>
    <i class="bi bi-pencil-square"></i>
    Edit Employee
</h5>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="form-label mt-4"></label>
                <input type="number" class="form-control" asp-for="Salary" placeholder="Salary">
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="form-label mt-4"></label>
                <input type="number" class="form-control" asp-for="Age">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-label mt-4"></label>
                <input class="form-control" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="form-label mt-4"></label>
                <select class="form-select" asp-for="Gender" asp-items="Model.GenderSelectList">
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="DepartmentId" asp-items="Model.Departments">
                    <option value="">Select a Department</option> <!-- Added a default option -->
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedProjects" class="form-label mt-4"></label>
                <select class="form-select" asp-for="SelectedProjects" asp-items="Model.Projects">
                    <option></option>
                </select>
                <span asp-validation-for="SelectedProjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="Image"
                       data-rule-extension="@FileSettings.AllowedExtensions.Replace(".", string.Empty)"
                       data-msg-extension="Not allowed extension"
                       data-rule-filesize="@FileSettings.MaxFileSizeInBytes"
                       data-msg-filesize="Maximum allowed size is @FileSettings.MaxFileSizeInMB MB">
                <small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowed with max size @(FileSettings.MaxFileSizeInMB)MB.</small>
                <span asp-validation-for="Image" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img class="cover-preview" alt="Image" src="@($"{FileSettings.ImagesPath}/{Model.CurrentImage}")" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/employee-form.js" asp-append-version="true"></script>
    <script src="~/js/filesize-validator.js" asp-append-version="true"></script>
}
